@charset "utf-8";

.hide{display:none;}
.show{display:block;}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width:auto;
  max-width: 680px;
  margin: 20px auto;
}
.white-popup.popup-wide{max-width:800px;}

.nice-sel-wrap.nice-select{
	background:#f9f7f3;font-size:14px;color:#333;height:40px;line-height:40px;font-weight:bold;border-radius: 30px;
	-webkit-box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.3);
}
.nice-sel-wrap.nice-select:after{ width: 0; height: 0; margin-top:0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 7px solid #888;transform:none;border-bottom: none;transform-origin:0;right:20px;top:50%;margin-top:-4px;}
.nice-sel-wrap.nice-select.open:after{border-top: 0;border-bottom: 7px solid #888;}

.flexslider .visual-inner{position:relative;z-index:2;width:1160px;margin:0 auto;height:370px;text-align:center;}
.flexslider .visual-inner .pic{position:relative;}
.flexslider .visual-inner .pic img{width:auto;margin-top:56px;}
.flexslider .visual-inner .info{margin-left:80px;}
.flexslider .visual-inner .info .quote{background:rgba(39,36,28,0.50);padding:40px 30px;color:#fff;font-size:24px;font-weight:bold;line-height:30px;position:relative;display: inline-block;}
.flexslider .visual-inner .info .quote:before{content:'';width:21px;height:22px;position:absolute;background:url(../images/page/visual-arrow.png);top:0;bottom:0;left:-21px;margin:auto 0;}
.flexslider .visual-inner .info ul.text{max-width: 500px;list-style-image:url(../images/page/index-visual-ul.png);margin-left:16px;}
.flexslider .visual-inner .info ul.text li{font-size:16px;line-height:26px;margin-bottom:12px;color:#fff;font-weight:bold;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);}
.flexslider .visual-inner .info ul.text li:last-child{margin-bottom:0;}

.page-title-sec{height:76px;position:relative;}
.page-title-sec .page-title{display:inline-block;color:#27241c;font-size:24px;line-height:26px;font-weight:bold;vertical-align: middle;margin-top:20px;}
.page-title-sec .page-title span{display:inline-block;vertical-align: middle;}
.page-title-sec .page-title span img{width:30px;margin-right:10px;}
.page-title-sec .page-title-visual{position:absolute;bottom:0;right:20px;}

.page-tab-sec{
	height:54px;
	background: #1a3ff9; /* Old browsers */
	background: -moz-linear-gradient(top, #1a3ff9 0%, #041c95 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1a3ff9 0%,#041c95 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1a3ff9 0%,#041c95 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3ff9', endColorstr='#041c95',GradientType=0 ); /* IE6-9 */
	margin:0 20px 40px;
}

.page-tab-sec .one-tab{height:54px;padding:0 20px;line-height:54px;color:#fff;font-size:14px; font-weight:bold;display:block;transition:0.2s;position:relative;}
.page-tab-sec .one-tab:after{content:'';position:absolute;width:1px;height:54px;top:0px;right:-1px;background:rgba(255,255,255,0.12);}
.page-tab-sec .one-tab:last-child:after{display:none;}
.page-tab-sec .one-tab:hover{background:rgba(0,0,0,0.15);}
.page-tab-sec .one-tab.active{background:#011370;}

.risk-radio-height{height:46px;}
.risk-compare-ico{width:24px;height:41px;position:absolute;left:0;right:0;margin:0 auto;top:110px;}
.high-risk .risk-compare-ico{background:url(../images/page/ico-high-risk.png) no-repeat;}
.low-risk .risk-compare-ico{background:url(../images/page/ico-low-risk.png) no-repeat;}

.high-risk .risk-text{color:#cc1e11;}
.low-risk .risk-text{color:#1aafa6;}

.index-sec-top{}
.index-sec-top .left,.index-sec-top .right{width:50%;float:left;position:relative;}
.index-sec-top .left.left-100{width:100%;}
.index-sec-top .left .pic,.index-sec-top .right .pic{width:100%;height:100%;left:0;top:0;overflow:hidden;}
.index-sec-top .left .inner,.index-sec-top .right .inner{width:540px;height:290px;margin:0 auto;padding:30px 0;}
.index-sec-top .left.left-100 .inner{width:800px;height:250px;}
.index-sec-top .right .inner .btn-sec .dropbtn{position:relative;}
.index-sec-top .right .inner .btn-sec .dropbtn .title{height:56px;font-size:15px;font-weight:bold;padding:0 30px;line-height:56px;color:#fff;cursor:pointer;}
.index-sec-top .right .inner .btn-sec .dropbtn .dropbtn-con{width:100%;position:absolute;transition:0.2s;visibility: hidden;opacity:0;}
.index-sec-top .right .inner .btn-sec .dropbtn:hover .dropbtn-con{visibility: visible;opacity:1;}
.index-sec-top .right .inner .btn-sec .dropbtn .dropbtn-con a{display:block;font-size:14px;line-height:34px;color:#fff;}


.index-news .one-news{background:rgba(255,255,255,.5);display:block;height:130px;transition:0.2s;margin-bottom:30px;}
.index-news.index-news-n .one-news{height:90px;}
.index-news .one-news .one-news-con{padding:20px;}
.index-news .one-news:hover{background:rgba(255,255,255,1);}
.index-news .one-news .title{max-height: 50px;overflow:hidden;}
.index-news .one-news .tag{border-radius:30px;color:#fff;font-size:13px;font-weight:bold;background:#27241c;height:30px;line-height:30px;padding:0 15px;display:inline-block;}

.login-bg{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image:url(../images/page/login-bg.jpg);
	background-size: cover;
	z-index: -1;
}
.login-inner{min-height:65vh;padding:100px 0 50px;}

.login-sec{
	width:480px;padding:30px 20px;background:#fff;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
	position:relative;
}
.login-sec:before{content:'';height:10px;background:#5aaae2;position:absolute;top:0;left:0;width:100%;}

.table{width:100%;overflow:hidden;}
.table tr{}
.table tr th{font-size:13px;line-height:16px;color:#333;font-weight:bold;height:50px;background:#fff;vertical-align: middle;text-align:center;padding:0 12px;border:1px solid #eeeeee;box-sizing: border-box;}
.table tr td{background:#fff;padding-left:10px;padding-right:10px;border:1px solid #eeeeee;box-sizing: border-box;}
.table tr:nth-child(odd) td{background:#f5f9fc;}

.table.form-s-table tr td.con1{max-height:120px;}
.table.form-s-table tr td.con1 .pic1{}
.table.form-s-table tr td.con1 .pic1 img{width:90px;height:90px;display:block;}
.table.form-s-table tr td.con1 .text1{max-width:380px;margin:0 15px;}
.table.form-s-table tr td.con1 .tag1{max-width:100px;}
.table.form-s-table .w-half{width:16px;height:16px;vertical-align:middle;margin-left:5px;}
.table.form-s-table tr td.min20{min-width: 90px;vertical-align: middle;}
.table.form-s-table tr td .phy-h-link{color:#1aafa6;text-decoration: underline;}


.table-popup{width:100%;}
.table-popup.table-popup-form tr{border-top:1px solid #dfe2e3;}
.table-popup.table-popup-form tr:last-child{border-bottom:1px solid #dfe2e3;}
.table-popup.table-popup-form tr th{background:#fafafa;height:46px;vertical-align:middle;padding:0 10px;}
.table-popup.table-popup-form tr td{padding:15px 10px;min-height:30px;vertical-align: middle;}
.table-popup.table-popup-form tr td.fs1{max-width:240px;}
.table-popup.table-popup-form tr td.fsm1{max-width:180px;}
.table-popup.table-popup-form tr td.phy-h-td{width:120px;background:#fafafa;}
.psn-table-pic a{width:80px;height:60px;display:block;overflow:hidden;}

.user-avatar{width:200px;height:240px;overflow:hidden;position:relative;float:left;}
.user-avatar-n{width:calc(100% - 200px);height:240px;overflow:hidden;position:relative;float:left;}
.user-avatar .bg{width:100%;height:240px;overflow:hidden;display:block;position:absolute;}
.user-avatar .user-info{position:relative;z-index:1;width:100%;text-align:center;}
.user-avatar .user-info .name{font-size:18px;font-weight:bold;line-height:22px;color:#fff;}
.user-avatar .user-info .line{width:60%;height:1px;background:#5eace3;display:block;margin:25px auto;}
.user-avatar .user-info .info{font-size:14px;line-height:16px;color:#ddd;margin-bottom:12px;}
.psn-review-more{width:100%;text-align:center;position:absolute;bottom:0;height:36px;line-height:36px;color:#fff;font-size:13px;font-weight:bold;display:block;background:#5eace3;left:0;transition:0.2s;}
.psn-review-more:hover{background:#1a3ff9;}
.user-overview-body-line{position:relative;}
.user-overview-body-line:after{content:'';position:absolute;width:1px;height:80px;background:#e5e3de;top:-8px;right:0;}
.user-overview-body-line:last-child:after{display:none;}

.charts {width: 100%;}
.psn-charts-tab a{padding:0 10px;}
.psn-charts-tab a.active{text-decoration: underline;font-weight: bold;}

.phy-sel{}
.body-detail.body-detail-1{right:200px;top:50px;z-index: 5;}
.body-detail.body-detail-2{right:200px;top:150px;z-index: 4;}
.body-detail.body-detail-3{right:200px;top:250px;z-index: 3;}
.body-detail.body-detail-4{right:200px;top:350px;z-index: 2;}
.body-detail.body-detail-5{right:200px;top:450px;z-index: 1;}
.body-detail.body-detail-6{left:200px;top:100px;z-index: 4;}
.body-detail.body-detail-7{left:200px;top:200px;z-index: 3;}
.body-detail.body-detail-8{left:200px;top:300px;z-index: 2;}
.body-detail.body-detail-9{left:200px;top:400px;z-index: 1;}
.phy-line-1{top:84px;right:370px;z-index:0;}
.phy-line-2{top:183px;right:370px;z-index:0;}
.phy-line-3{top:282px;right:370px;z-index:0;}
.phy-line-4{top:381px;right:370px;z-index:0;}
.phy-line-5{top:480px;right:370px;z-index:0;}
.phy-line-6{top:132px;left:370px;z-index:0;}
.phy-line-7{top:232px;left:370px;z-index:0;}
.phy-line-8{top:332px;left:370px;z-index:0;}
.phy-line-9{top:432px;left:370px;z-index:0;}
.body-detail{width:180px;padding-top:10px;position:absolute;cursor:pointer;}
.body-detail.body-okay:before{content:'';width:100%;height:10px;background:#1aafa6;position:absolute;top:0;left:0;}
.body-detail.body-warning:before{content:'';width:100%;height:10px;background:#cc1e11;position:absolute;top:0;left:0;}
.body-detail .main{padding:15px 20px;background:#fff}
.body-detail .ico{width:18px;height:18px;margin-right:10px;}
.body-detail .ico img{width:100%;}
.body-detail .toggle-con{overflow:hidden;padding:20px;display:none;background:rgba(255,255,255,0.95);}
.body-detail .toggle-con p{padding:5px 0;color:#1aafa6;}
.body-detail .toggle-con p.warning{padding:5px 0;color:#cc1e11;}
